aside p{
    text-align: center;
    font-size: x-large;
    font-family: "华文琥珀";
    text-emphasis-color: #000000;
}
aside ul li{
    background-color: #407088;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 2em;
    width: 10em;
    padding: 5px;
    list-style-type:none;
    text-align: center;
}
aside ul li a{
    text-decoration:none; 

}
aside ul li a:hover{ background:#01F; color:#FFF } 
aside{
    background-color: #70adb5;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 0em;
    width: 20em;
    position: fixed; top:0px; left:0px;
    height: 100%;

}
body{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
aside ul img{
    width: 90px;
    height: 90px;
}
header{
    background-color:#FFFFFF;
    opacity:0.3;
    position: relative;top:0px;left:22em;
    border: 1px solid #000;
    border-radius: 20px;
    width: 60em;
    
}

header p{
    font-size: xx-large;
    font-family:"华文行楷" ;
}

article{
    border-radius: 20px;
    position: relative;top:20px;left:22em;
    border: 1px solid #000;
    width: 60em;
}
article{
    background-color:#FFFFFF;
    opacity:0.3;
}
.basic table{
    opacity: 1;
    border-collapse:collapse;
    text-align: center;
    position: relative;left:22em;
    height: 20em;
    width: 30em;
}
.favor{
    opacity: 1;
}
.movie{
    position: relative;left:10em;
}
.feeling{
    position: relative;left:10em;
}
.future pre{
    text-align: center;
}